@page
@model NocturnoWeb.Pages.EventsModel

<img class="bgImage" src="~/img/dj-consolle-dj-1024x682.jpg" />
<div class="bgGradient">
    <div class="dots"></div>
</div>

<div class="page">
    <h1>EVENT CALENDAR</h1>

    <div class="graphic">
        <div class="deco"></div>
        <div class="anim-0"></div>
        <div class="anim-1"></div>
        <div class="anim-2"></div>
        <div class="deco"></div>
    </div>

    <div>
        @{
            foreach (var evt in Model.Events)
            {
                <div class="event-row">
                    <h4 class="dateblock">
                        <span class="evt-day">@evt.DateTime.Day</span>
                        <span class="evt-year">@evt.DateTime.ToString("MMM yyyy")</span>
                    </h4>

                    <div class="text">
                        <h2>@evt.Name</h2>
                        <h4>@evt.VenueName</h4>
                        <h4>@evt.VenueAddress</h4>
                    </div>

                    <img src="@evt.PosterUri" />
                </div>
            }
        }
        </>
    </div>
</div>