@page "{id}"
@model NocturnoWeb.Pages.EventModel

@{
    if (Model.Event.CoverUri != null)
    {
        <img class="bgImage blur5" src="@Model.Event.CoverUri" />
    }
    else
    {
        <img class="bgImage blur5" src="~/img/events_bg.jpg" />
    }
}

<div class="bgGradient">
    <div class="dots"></div>
</div>

<div class="page">
    <h1>@Model.Event.Name</h1>
    <h5>@Model.Event.DateTime.ToLongDateString() // @Model.Event.VenueName</h5>

    <div class="graphic">
        <div class="deco"></div>
        <div class="anim-0"></div>
        <div class="anim-1"></div>
        <div class="anim-2"></div>
        <div class="deco"></div>
    </div>

    <div class="details-container">
        <div class="poster-container">
            <img src="@Model.Event.PosterUri" />
        </div>

        <div class="details">
            <hr class="mb-stroke" />
            <h3>EVENT INFO</h3>
            <hr class="subline" />

            <table>
                <tr>
                    <td>Date:</td>
                    <td>@Model.Event.DateTime.ToLongDateString()</td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td>@Model.Event.DateTime.ToShortTimeString()</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>@Model.Event.VenueName</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><a href="@Model.Event.MapsUri"> @Model.Event.VenueAddress</a></td>
                    @* <tr>
                    <td>Artists</td>
                    <td>

                    </td>
                    </tr>*@
            </table>

            <iframe src="@Model.Event.MapEmbedding" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            @if (Model.Event.TicketsUrl != null)
            {
                <a href="@Model.Event.TicketsUrl" class="details-button">BUY TICKET</a>
            }


            <p>
                @Model.Event.Description
            </p>
        </div>
    </div>

</div>