@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<img class="bgImage" src="~/img/home-bg-space.jpg" />
<div class="bgGradient">
    <div class="dots"></div>
</div>


<div id="events-card">
    <h1>EVENTS</h1>

    <div class="graphic">
        <div class="deco"></div>
        <div class="anim-0"></div>
        <div class="anim-1"></div>
        <div class="anim-2"></div>
        <div class="deco"></div>
    </div>

    <hr class="mb-stroke" />

    <div class="events-container">
        @{
            foreach (var evt in Model.Events)
            {
                <div class="event-item">
                    <div class="preview-container">
                        <img src="@evt.PosterUri" />
                        <h2>
                            <span class="evt-day">@evt.DateTime.Day</span>
                            <span class="evt-year">@evt.DateTime.ToString("MMM yyyy")</span>
                        </h2>
                    </div>
                    <div class="evt-title">
                        <h3>@evt.Name</h3>
                        <h4>@evt.VenueName</h4>
                    </div>
                    <div class="evt-desc">
                        @evt.Description
                    </div>
                </div>
            }
        }
    </div>

    <a href="/Events" class="details-button align-content-center">SEE MORE</a>
</div>

<div class="featured-artists">
    <h1>FEATURED ARTISTS</h1>

    <div class="graphic">
        <div class="deco"></div>
        <div class="anim-0"></div>
        <div class="anim-1"></div>
        <div class="anim-2"></div>
        <div class="deco"></div>
    </div>

    <div class="featured-artists-content">

        @{
            int i = 0;
            foreach (var item in Model.FeaturedArtists)
            {
                <div class="item item-@i">
                    <img src="@item.ImageUri" />
                    <h4>@item.Name</h4>
                </div>
                i++;
            }
        }

        <div class="item view-all">
            <h3>VIEW ALL</h3>
        </div>
    </div>
</div>